<!DOCTYPE html>
<html>
<head>
    <title>Student Table</title>
</head>
<body>
    <h1>Student Table</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Full Name</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.StudentID }}</td>
                <td>{{ item.Full_Name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
